img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

h1 {
  font-size: 4.8rem;
  font-family: $font_2;
  color: $dark;
}
// End
h2 {
  font-size: 3.2rem;
  font-family: $font_2;
  color: $dark;
}
// End
h3 {
  font-size: 2.4rem;
  font-family: $font_2;
  color: $dark;
}
// End
h4 {
  font-size: 2rem;
  color: $dark;
}
// End
h5 {
  font-size: 1.8rem;
  font-family: $font_1;
  color: $dark;
}
// End
h6 {

}
// End


.section_in {
  max-width: $page_width;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
}